<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/booking.css">
    <title>Tak Oi Booking Room | ICT SBA</title>
</head>
<body>
        <header>
            <nav class="navbar fixed-top navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src='logo.png' height="70px"> </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Donate and save Kitty Au</a>
                        </li>
                        
                    </ul>

                    </div>
                    welcome<a href="#" > {{firstname}} {{lastname}}</a>
                </div>
            </nav>
    </header>
    <div style="height: 150px"></div>

                <section id='intro'>
                        
                        <img src="itembg.jpg" alt="image">
                        <div class='container'>
                            <div class='row'>
                                <div class='col-md-12'>
                                </div>
                            </div>
                        </div>
                        </div>
                        
                    </section>
                    <section id='singlecontent'>
                        <div class="container">
                            <div class='row'>
                                <div class='col-md-8'>
                                    <h1> <span class='thetag'>TITLE</span></h1>
                                    <p>
                                        Floor: <br>
                                    </p>
                                    <h4>Description</h4>
                                    <p class='lead'>Description of room </p>

                                </div>
                                <div class='col-md-4'>
                                    <div class='apply'>
                                        <h5><i class="far fa-calendar-check"></i> 立即報名</h5>
                                        <hr>
                                        <a class="btn btn-primary btn-lg" href="#" role="button">Booking room now</a>
                                        <a class="btn btn-primary btn-lg" href="#" role="button">Check Current Availability</a>
                                        <a class="btn btn-primary btn-lg" href="#" role="button">Rules for using the room</a>
                                    </div>
                                    <div class='applybelow'>
                                    <p>Have any diffculty? Welcome to contact us</p>
                                    <a href='#' class='btn2'>Contact number: (852) 1234-1234</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                     
</body>
</html>
                
